body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#blah {
  color: purple
}

html {
  font-family: 'Cardo', serif;
}

#curb {
  background-image: url('../images/curb.jpg');
  background-size: cover;
}

#burger {
  background-image: url('../images/burger.jpg');
  background-size: cover;
}

#sc {
  background-image: url('../images/sc.jpg');
  background-size: cover;
}

#crystal {
  background-image: url('../images/dragon.gif');
  background-size: cover;
}

#train {
  background-image: url('../images/train.jpg');
  background-size: cover;
}

#seinfeld {
  background-image: url('../images/seinfeld.jpg');
  background-size: cover;
}

#liri {
  background-image: url('../images/siri.jpg');
  background-size: cover;
}

#bamazon {
  background-image: url('../images/amazon.jpg');
  background-size: cover;
}

div.section.white {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}

div.section.white p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

#navbarPic {
  border-radius: 15px
}
